{% trans_default_domain "locationview" %}
{{ form_start(actionsForm, {'action': path('ez_hybrid_platform_ui_location_actions', {'contentId': content.id, 'redirectLocationId': location.id})}) }}

{% set dialogId = 'confirm-location-removal-' ~ location.id %}

{{
    include('@EzSystemsHybridPlatformUi/components/confirm_delete_dialog.html.twig', {
        'dialogId': dialogId,
        'message': 'confirm.remove.location'|trans()|desc('Are you sure you want to remove selected locations?'),
        'confirmButton': actionsForm.delete,
    })
}}

<div class="ez-list-toolbar">
    <h2 class="ez-list-toolbar-label">{{ 'locationview.locations.content.locations'|trans()|desc('Content locations') }}</h2>
    <div class="ez-list-toolbar-tools">
        {{ form_widget(actionsForm.parentLocationIds, {'attr': {'placeholder': 'Location ID'}}) }}
        {{ form_widget(actionsForm.add, {'label': 'locationview.locations.add.location'|trans()|desc('Add Location'), 'attr': {'class': 'ez-button ez-button-secondary'}}) }}
        <button type="button" value="#{{ dialogId }}" class="ez-button ez-button-negative ez-js-open-modal">
            {{ 'locationview.locations.delete.locations'|trans()|desc('Delete selected locations') }}
        </button>
    </div>
</div>

<table class="ez-table-data">
    <thead>
        <tr>
            <th></th>
            <th>{{ 'locationview.locations.path'|trans()|desc('Path') }}</th>
            <th>{{ 'locationview.locations.subitems'|trans()|desc('Sub-items') }}</th>
            <th colspan="2">{{ 'locationview.locations.visibility'|trans()|desc('Visibility') }}</th>
            <th>{{ 'locationview.locations.main'|trans()|desc('Main') }}</th>
        </tr>
    </thead>
    <tbody>
    {% if locations is defined %}
        {% for location in locations %}
        <tr>
            <td>{{ form_widget(actionsForm.removeLocations[location.id], {'attr': {'disabled': not location.canDelete}}) }}</td>
            <td>{{ include('@EzSystemsHybridPlatformUi/fields/location/path.html.twig', {'locations': location.pathLocations}) }}</td>
            <td>{{ location.childCount }}</td>
            <td>
                {% if location.hidden %}
                    {{ 'locationview.locations.hidden'|trans()|desc('Hidden') }}
                {% else %}
                    {% if location.invisible %}
                        {{ 'locationview.locations.hidden.by.superior'|trans()|desc('Hidden by superior') }}
                    {% else %}
                        {{ 'locationview.locations.visible'|trans()|desc('Visible') }}
                    {% endif %}
                {% endif %}
            </td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

{{ form_end(actionsForm) }}

{{ form_start(swapLocationsForm, {"action": path("ez_hybrid_platform_ui_location_swap_location", {'contentId': content.id, 'locationId': locationId})}) }}
<div class="ez-list-toolbar">
    <h2 class="ez-list-toolbar-label">{{ 'locationview.locations.swap.title'|trans()|desc('Location Content Swap') }}</h2>
</div>
<p>
    {{ 'locationview.locations.swap.with.another'|trans()|desc('Swap the content item at this location with another') }}

    {{ form_widget(swapLocationsForm.swap, {'label': 'locationview.locations.select.content.item'|trans()|desc('Select content item'), 'attr': {'class': 'ez-button ez-button-ghost'}}) }}
    {{ form_widget(swapLocationsForm.new_location_id, {'attr': {'placeholder': 'locationview.locations.swap.location.id'|trans()|desc('Location ID')}}) }}
</p>
{{ form_end(swapLocationsForm) }}
