{% trans_default_domain "locationview" %}

<div class="ez-list-toolbar">
    <h2 class="ez-list-toolbar-label">{{ 'locationview.relations.related'|trans({'%contentName%' : ez_content_name(content)})|desc('Related content (content items used by %contentName%)') }}</h2>
</div>

{% if relations %}
    {{ include('@EzSystemsHybridPlatformUi/content/tabs/relations/table.html.twig', {'relationList': relations}) }}
    <div class="pager">
        {{ pagerfanta(relations, 'default', { 'pageParameter': '[relationPage]' }) }}
    </div>

{% else %}
    <p class="ez-relations-box-list-no-content">
        {{ 'locationview.relations.no.related.content.item'|trans()|desc('This content item has no related content.') }}
    </p>
{% endif %}

{% if reverseRelations is defined %}
    <div class="ez-list-toolbar">
        <h2 class="ez-list-toolbar-label">{{ 'locationview.relations.reverse.relations'|trans({'%contentName%' : ez_content_name(content)})|desc('Reverse relations (content items using %contentName%)') }}</h2>
    </div>

    {% if reverseRelations %}
        {{ include('@EzSystemsHybridPlatformUi/content/tabs/relations/table.html.twig', {'relationList': reverseRelations}) }}
        <div class="pager">
            {{ pagerfanta(reverseRelations, 'default', { 'pageParameter': '[reverseRelationPage]' }) }}
        </div>
    {% else %}
        <p class="ez-relations-box-list-no-content">
            {{ 'locationview.relations.no.reverse.relations'|trans()|desc('This content item has no reverse relations.') }}
        </p>
    {% endif %}
{% endif %}
