{% trans_default_domain "locationview" %}

<div class="ez-list-toolbar">
    <h2 class="ez-list-toolbar-label">{{ 'locationview.relations.related.content'|trans()|desc('Related content - other content items used by this content.') }}</h2>
</div>

{% if relations %}
    {{ include('@EzSystemsHybridPlatformUi/content/tabs/relations/table.html.twig', {'relationList': relations}) }}
{% else %}
    <p class="ez-relations-box-list-no-content">
        {{ 'locationview.relations.no.related.content.item'|trans()|desc('This content item has no related content.') }}
    </p>
{% endif %}

{% if reverseRelations is defined %}
    <div class="ez-list-toolbar">
        <h2 class="ez-list-toolbar-label">{{ 'locationview.relations.reverse.relations'|trans({'%contentName%' : ez_content_name(content)})|desc('Reverse relations - content items using %contentName%.') }}</h2>
    </div>

    {% if reverseRelations %}
        {{ include('@EzSystemsHybridPlatformUi/content/tabs/relations/table.html.twig', {'relationList': reverseRelations}) }}
    {% else %}
        <p class="ez-relations-box-list-no-content">
            {{ 'locationview.relations.no.reverse.relations'|trans()|desc('This content item has no reverse relations.') }}
        </p>
    {% endif %}
{% endif %}
