{% trans_default_domain "locationview" %}
{{ form_start(actionsForm, {'action': path('ez_hybrid_platform_ui_translation_actions', {'contentId': content.id, 'redirectLocationId': location.id})}) }}

{% set dialogId = 'confirm-translations-removal-' ~ location.id %}
{{
    include('@EzSystemsHybridPlatformUi/components/confirm_delete_dialog.html.twig', {
        'dialogId': dialogId,
        'message': 'confirm.remove.translations'|trans()|desc('Are you sure you want to remove selected translations?'),
        'confirmButton': actionsForm.delete,
    })
}}

<ez-selection-activate-element>
    <div class="ez-list-toolbar">
        <h2 class="ez-list-toolbar-label">{{ 'locationview.translations.title'|trans|desc('Translation manager') }}</h2>
        <div class="ez-list-toolbar-tools">
            <button type="button"
                value="#{{ dialogId }}"
                disabled
                class="ez-button ez-button-negative ez-js-open-modal ez-js-activable-element">
                {{ ez_ui_icon('trash') }}
                {{ 'locationview.translations.delete.translations'|trans()|desc('Delete selected translations') }}
            </button>
        </div>
    </div>

    <table class="ez-table-data">
        <thead>
            <tr>
                <th></th>
                <th>{{ 'locationview.translations.languagename'|trans|desc('Language name') }}</th>
                <th>{{ 'locationview.translations.languagecode'|trans|desc('Language code') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for translation in translations %}
            <tr>
                <td>{{ form_widget(actionsForm.removeTranslations[translation.languageCode], {'attr': {'disabled': not translation.canDelete}}) }}</td>
                <td>{{ translation.name }}</td>
                <td>{{ translation.languageCode }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</ez-selection-activate-element>
{{ form_end(actionsForm) }}
