{% trans_default_domain "locationview" %}


{% if draftVersions is not defined or draftVersions %}
    {{ form_start(draftActionsForm, {"action": path("ez_hybrid_platform_ui_version_draft_actions", {'contentId': content.id, 'redirectLocationId': location.id})}) }}

    {% set draftDialogId = 'confirm-draft-removal' %}
    {{
        include('@EzSystemsHybridPlatformUi/components/confirm_delete_dialog.html.twig', {
            'dialogId': draftDialogId,
            'message': 'confirmed.remove.versions'|trans()|desc('Are you sure you want to remove selected versions?'),
            'confirmButton': draftActionsForm.delete,
        })
    }}

    <ez-selection-activate-element>
        <div class="ez-list-toolbar">
            <h2 class="ez-list-toolbar-label">{{ 'locationview.versions.draft.under.edit'|trans()|desc('Draft under edit') }}</h2>
            <div class="ez-list-toolbar-tools">
                <button type="button"
                    value="#{{ draftDialogId }}"
                    disabled
                    class="ez-button ez-button-negative ez-js-open-modal ez-js-activable-element">
                    {{ ez_ui_icon('trash') }}
                    {{ 'locationview.versions.delete'|trans()|desc('Delete') }}
                </button>
            </div>
        </div>

        {% if draftVersions is defined %}
            {{ include('@EzSystemsHybridPlatformUi/content/tabs/versions/table.html.twig', {'versions': draftVersions, 'form': draftActionsForm, 'isDraft': true}) }}
        {% else %}
            <p class="ez-relations-box-list-no-content">
                {{ 'locationview.versions.no.permission'|trans()|desc("You don't have access to view the content item's versions") }}
            </p>
        {% endif %}
    </ez-selection-activate-element>
    {{ form_end(draftActionsForm) }}
{% endif %}

{% if publishedVersions is not defined or publishedVersions %}
    <div class="ez-list-toolbar">
        <h2 class="ez-list-toolbar-label">{{ 'locationview.versions.published.version'|trans()|desc('Published version') }}</h2>
    </div>

    {% if publishedVersions is defined %}
        {{ include('@EzSystemsHybridPlatformUi/content/tabs/versions/table.html.twig', {'versions': publishedVersions}) }}
    {% else %}
        <p class="ez-relations-box-list-no-content">
            {{ 'locationview.versions.no.permission'|trans()|desc("You don't have access to view the content item's versions") }}
        </p>
    {% endif %}

{% endif %}



{% if archivedVersions is not defined or archivedVersions %}
    {{ form_start(archivedActionsForm, {"action": path("ez_hybrid_platform_ui_version_archive_actions", {'contentId': content.id, 'redirectLocationId': location.id})}) }}

    {% set archivedDialogId = 'confirm-archive-removal' %}
    {{
        include('@EzSystemsHybridPlatformUi/components/confirm_delete_dialog.html.twig', {
            'dialogId': archivedDialogId,
            'message': 'confirmed.remove.versions'|trans()|desc('Are you sure you want to remove selected versions?'),
            'confirmButton': archivedActionsForm.delete,
        })
    }}

    <ez-selection-activate-element>
        <div class="ez-list-toolbar">
            <h2 class="ez-list-toolbar-label">{{ 'locationview.versions.archived.versions'|trans()|desc('Archived versions') }}</h2>
            <div class="ez-list-toolbar-tools">
                {{
                    form_widget(archivedActionsForm.new_draft, {
                        'label': 'locationview.versions.new.draft.selected.version'|trans()|desc('New draft based on selected version'),
                        'icon': 'create',
                        'attr': {
                            'class': 'ez-button ez-button-secondary ez-js-activable-element ez-js-activable-element-single-selection',
                            'disabled': true
                        }
                    })
                }}
                <button type="button"
                    value="#{{ archivedDialogId }}"
                    disabled
                    class="ez-button ez-button-negative ez-js-open-modal ez-js-activable-element">
                    {{ ez_ui_icon('trash') }}
                    {{ 'locationview.versions.delete'|trans()|desc('Delete') }}
                </button>
            </div>
        </div>

        {% if archivedVersions is defined %}
            {{ include('@EzSystemsHybridPlatformUi/content/tabs/versions/table.html.twig', {'versions': archivedVersions, 'form': archivedActionsForm}) }}
        {% else %}
            <p class="ez-relations-box-list-no-content">
                {{ 'locationview.versions.no.permission'|trans()|desc("You don't have access to view the content item's versions") }}
            </p>
        {% endif %}
    </ez-selection-activate-element>
    {{ form_end(archivedActionsForm) }}
{% endif %}
