{% trans_default_domain "locationview" %}

{% if draftVersions %}
    {{ form_start(draftActionsForm, {"action": path("ez_hybrid_platform_ui_content_view_draft_actions"), 'attr': {'class': 'ez-js-standard-form'}}) }}

    <div class="ez-list-toolbar">
        <h2 class="ez-list-toolbar-label">{{ 'locationview.versions.draft.under.edit'|trans()|desc('Draft under edit') }}</h2>
        <div class="container-buttons">
            {{ form_row(draftActionsForm.delete, {'label': 'locationview.versions.delete.selected.draft'|trans()|desc('Delete selected draft'), 'attr': {'class': 'ez-button ez-button-negative'}}) }}
        </div>
    </div>

    {{ include('@EzSystemsHybridPlatformUi/content/tabs/versions/table.html.twig', {'versions': draftVersions, 'form': draftActionsForm, 'isDraft': true}) }}

    {{ form_end(draftActionsForm) }}

{% endif %}

{% if publishedVersions %}
    <div class="ez-list-toolbar">
        <h2 class="ez-list-toolbar-label">{{ 'locationview.versions.published.version'|trans()|desc('Published version') }}</h2>
    </div>
    {{ include('@EzSystemsHybridPlatformUi/content/tabs/versions/table.html.twig', {'versions': publishedVersions}) }}
{% endif %}

{% if archivedVersions %}
    {{ form_start(archivedActionsForm, {'attr': {'class': 'ez-js-standard-form'}}) }}

    <div class="ez-list-toolbar">
        <h2 class="ez-list-toolbar-label">{{ 'locationview.versions.archived.versions'|trans()|desc('Archived versions') }}</h2>
        <div class="container-buttons">
            {{ form_row(archivedActionsForm.new_draft, {'label': 'locationview.versions.new.draft.selected.version'|trans()|desc('New draft based on selected version'), 'attr': {'class': 'ez-button ez-button-secondary'}}) }}
            {{ form_row(archivedActionsForm.delete, {'label': 'locationview.versions.remove.selected.archived.version'|trans()|desc('Remove selected archived version(s)'), 'attr': {'class': 'ez-button ez-button-negative'}}) }}
        </div>
    </div>

    {{ include('@EzSystemsHybridPlatformUi/content/tabs/versions/table.html.twig', {'versions': archivedVersions, 'form': archivedActionsForm}) }}

    {{ form_end(archivedActionsForm) }}

{% endif %}
