{% trans_default_domain "locationview" %}

<table class="ez-table-data">
    <thead>
    <tr>
        <th></th>
        <th>{{ 'locationview.urls.content'|trans()|desc('Content') }}</th>
        <th>{{ 'locationview.urls.languagecode'|trans()|desc('Language code') }}</th>
        <th>{{ 'locationview.urls.type'|trans()|desc('Type') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for alias in urls %}
        <tr>
            <td></td>
            <td>
                <a href="{{ alias.path }}">{{ alias.path }}</a>
            </td>
            <td>
                {% for languageCode in alias.languageCodes %}
                    {{ languageCode }}<br>
                {% endfor %}
            </td>
            <td>
                {% if alias.forward %}
                    {{ 'locationview.urls.type.301redirect'|trans()|desc('301 Redirect') }}
                {% else %}
                    {{ 'locationview.urls.type.invisible'|trans()|desc('Invisible') }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
