<!doctype html>
<html>
<head>
    <title>{{ title|default("AdminUI prototype") }}</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ asset('assets/ezplatform/normalize-css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/variables.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/base.css') }}">

    <script src="{{ asset('assets/ezplatform/webcomponentsjs/webcomponents-lite.js') }}"></script>

    <link rel="import" href="{{ asset( 'assets/ezplatform/hybrid-platform-ui-core-components/ez-platform-ui-app.html' ) }}">
    <link rel="import" href="{{ asset( 'assets/ezplatform/hybrid-platform-ui-core-components/ez-toolbar.html' ) }}">
    {#
     # FIXME:
     # Remove the import of ez-navigation-hub.html when https://jira.ez.no/browse/EZP-27268 is implemented and then
     # replace manual inclusion of ez-platform-ui-app.html and ez-toolbar.html by
     # <link rel="import" href="{{ asset( 'assets/ezplatform/hybrid-platform-ui-core-components/core-components.html' ) }}">
     #}
    <link rel="import" href="{{ asset( 'bundles/ezsystemshybridplatformui/webcomponents/ez-navigation-hub.html' ) }}">
    <link rel="import" href="{{ asset( 'bundles/ezsystemshybridplatformui/webcomponents/ez-main-content.html' ) }}">
    <link rel="import" href="{{ asset( 'bundles/ezsystemshybridplatformui/webcomponents/ez-browse.html' ) }}">

    <link rel="import" href="{{ asset( 'bundles/ezplatformui/webcomponents/ez-subitem.html' ) }}">
    {#
     # FIXME:
     # ezplatformui does not yet provide <ez-universaldiscoverywidget>
     # the following import should be changed when https://jira.ez.no/browse/EZP-27352 is implemented
     #}
    <link rel="import" href="{{ asset( 'bundles/ezsystemshybridplatformui/webcomponents/ez-universaldiscoverywidget.html' ) }}">

    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/structure.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/modules/button.css') }}">

    <script>
        // FIXME:
        // https://jira.ez.no/browse/EZP-27359
        // this is a workaround to FOSJsRoutingBundle not generating URL for the admin SA
        // of course, this only works when eZ Platform has one SA group and if the admin SA is not
        // configured with a different matching strategy than URI...
        Routing.setBaseUrl('/admin');
    </script>
</head>
<body>
    {% block app %}
    {% endblock %}
</body>
</html>
