<!doctype html>
<html class=""><!-- empty class is needed for webcomponents polyfill with ez-yui-app.html import (?!) -->
<head>
    <title>{{ title|default("AdminUI prototype") }}</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">

{% stylesheets '$css.files;ez_platformui$' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}

    <style>
        * {
            box-sizing: border-box;
        }
        a, a:visited {
            color: #009;
        }
        body {
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        ez-navigation-hub {
            border: 2px solid green;
            flex: 0 0 8em;
        }
        main {
            border: 2px solid red;
            min-height: calc(100vh - 8em);
            flex: 1 0;
            display: flex;
        }
        ez-toolbar {
            border: 2px solid blue;
            flex: 0 0 230px;
        }
        ez-toolbar > * {
            line-height: 3;
            border: 1px solid purple;
        }
        ez-browse:after {
            content: " (" attr(location-id) ")";
        }
        ez-main-content {
            flex: 1 1;
        }
    </style>

    <script src="{{ asset('assets/ezplatform/webcomponentsjs/webcomponents-lite.js') }}"></script>

    <link rel="import" href="{{ asset( 'assets/ezplatform/hybrid-platform-ui-core-components/core-components.html' ) }}">
    {#
     # FIXME:
     # the following import overrides ez-navigation-hub.html linked in core-components.html
     # it should be removed when https://jira.ez.no/browse/EZP-27268 is implemented
     #}
    <link rel="import" href="{{ asset( 'bundles/ezsystemshybridplatformui/webcomponents/ez-navigation-hub.html' ) }}">
    <link rel="import" href="{{ asset( 'bundles/ezsystemshybridplatformui/webcomponents/ez-main-content.html' ) }}">
    <link rel="import" href="{{ asset( 'bundles/ezsystemshybridplatformui/webcomponents/ez-browse.html' ) }}">

    <link rel="import" href="{{ asset( 'bundles/ezplatformui/webcomponents/ez-subitem.html' ) }}">
    {#
     # FIXME:
     # ezplatformui does not yet provide <ez-universaldiscoverywidget>
     # the following import should be changed when https://jira.ez.no/browse/EZP-27352 is implemented
     #}
    <link rel="import" href="{{ asset( 'bundles/ezsystemshybridplatformui/webcomponents/ez-universaldiscoverywidget.html' ) }}">

    <script>
        // FIXME:
        // https://jira.ez.no/browse/EZP-27359
        // this is a workaround to FOSJsRoutingBundle not generating URL for the admin SA
        // of course, this only works when eZ Platform has one SA group and if the admin SA is not
        // configured with a different matching strategy than URI...
        Routing.setBaseUrl('/admin');
    </script>
</head>
<body class="ez-platformui-app is-app-open">
    {% block app %}
    {% endblock %}
</body>
</html>
