<!doctype html>
<html>
<head>
    <title>{{ title|default("AdminUI prototype") }}</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ asset('assets/ezplatform/normalize-css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/variables.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/base.css') }}">

    <script src="{{ asset('assets/ezplatform/webcomponentsjs/webcomponents-lite.js') }}"></script>

    <link rel="import" href="{{ asset( 'assets/ezplatform/hybrid-platform-ui-core-components/core-components.html' ) }}">

    <link rel="import" href="{{ asset( 'bundles/ezplatformui/webcomponents/ez-subitem.html' ) }}">
    <link rel="import" href="{{ asset( 'bundles/ezplatformui/webcomponents/ez-universal-discovery.html' ) }}">

    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/structure.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/modules/button.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/modules/tabs.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/modules/navigation-hub.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/modules/notification.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/modules/content-view.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/modules/page-header.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/modules/breadcrumbs.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/modules/table-data.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/modules/list-toolbar.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/ezsystemshybridplatformui/css/modules/content-field.css') }}">

    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% if app.debug %}
    <script>
    document.addEventListener('ez:app:updated', function (e) {
        if (!Sfjs || !e.detail.response.headers.has('x-debug-token')) {
            return;
        }

        Sfjs.load(
            document.querySelector('.sf-toolbar').id,
            Routing.generate('_wdt', {token: e.detail.response.headers.get('x-debug-token')})
        );
    });
    </script>
{% endif %}
</head>
<body>
    {% block app %}
    {% endblock %}
</body>
</html>
