<h1>{{ location.contentInfo.name }} (Location #{{ location.id }})</h1>

{% for field in content.fieldsByLanguage(language|default(null)) %}
    <h3>{{ field.fieldDefIdentifier }}</h3>
    {{ ez_render_field(content, field.fieldDefIdentifier) }}
{% endfor %}

<hr>

<ez-subitem parent-location-id="{{ location.id }}">
    Loading subitems...
</ez-subitem>
