{% trans_default_domain 'locationview' %}

<ez-content-view>
    <section class="ez-content-view-column ez-tabs">
    {% block contentview %}
        {% block contentview_details %}

        <header class="ez-page-header">
            {% for location in locations %}
                {% if location.id == locationId %}
                    {{ include('@EzSystemsHybridPlatformUi/fields/location/path.html.twig', {'locations': location.pathLocations}) }}
                {% endif %}
            {% endfor %}

            <h1>{{ ez_content_name(content) }}</h1>
            <br>
            <span class="ez-content-type-name">{{ contentType.name }}</span>
        </header>

        <ul class="ez-tabs-list">
            <li class="ez-tabs-label is-tab-selected"><a href="#ez-tab-view">{{ 'tab.view'|trans|desc('View') }}</a></li>
            <li class="ez-tabs-label"><a href="#ez-tab-details">{{ 'tab.details'|trans|desc('Details') }}</a></li>
            <li class="ez-tabs-label"><a href="#ez-tab-versions">{{ 'tab.versions'|trans|desc('Versions') }}</a></li>
            <li class="ez-tabs-label"><a href="#ez-tab-locations">{{ 'tab.locations'|trans|desc('Locations') }}</a></li>
            <li class="ez-tabs-label"><a href="#ez-tab-relations">{{ 'tab.related.content'|trans|desc('Related content') }}</a></li>
            <li class="ez-tabs-label"><a href="#ez-tab-translations">{{ 'tab.translations'|trans|desc('Translations') }}</a></li>
            <li class="ez-tabs-label"><a href="#ez-tab-urls">{{ 'tab.urls'|trans|desc('URL') }}</a></li>
        </ul>

        <div class="ez-tabs-panels">
            <div class="ez-tabs-panel is-tab-selected" id="ez-tab-view">
                {{ render(controller('ez_content:viewAction', {'contentId': contentId, 'locationId': locationId, 'viewType': 'content_tab'})) }}
            </div>
            <ez-asynchronous-block
                class="ez-tabs-panel" id="ez-tab-details"
                url="{{ path('_ez_content_view', {'contentId': contentId, 'locationId': locationId, 'viewType': 'details_tab'}) }}"
            ></ez-asynchronous-block>
            <ez-asynchronous-block
                class="ez-tabs-panel" id="ez-tab-versions"
                url="{{ path('_ez_content_view', {'contentId': contentId, 'locationId': locationId, 'viewType': 'versions_tab'}) }}"
            ></ez-asynchronous-block>
            <ez-asynchronous-block
                class="ez-tabs-panel" id="ez-tab-locations"
                url="{{ path('_ez_content_view', {'contentId': contentId, 'locationId': locationId, 'viewType': 'locations_tab'}) }}"
            ></ez-asynchronous-block>
            <ez-asynchronous-block
                class="ez-tabs-panel" id="ez-tab-relations"
                url="{{ path('_ez_content_view', {'contentId': contentId, 'locationId': locationId,'viewType': 'relations_tab'}) }}"
            ></ez-asynchronous-block>
            <ez-asynchronous-block
                class="ez-tabs-panel" id="ez-tab-translations"
                url="{{ path('_ez_content_view', {'contentId': contentId, 'locationId': locationId, 'viewType': 'translations_tab'}) }}"
            ></ez-asynchronous-block>
            <ez-asynchronous-block
                    class="ez-tabs-panel" id="ez-tab-urls"
                    url="{{ path('_ez_content_view', {'contentId': contentId, 'locationId': locationId, 'viewType': 'urls_tab'}) }}"
            ></ez-asynchronous-block>
        </div>
        {% endblock contentview_details %}

        {% block subitems %}
        <ez-subitem parent-location-id="{{ location.id }}">
            Loading subitems...
        </ez-subitem>
        {% endblock %}
    </section>

    <ez-toolbar class="ez-action-bar" visible>
        {% block content_action_toolbar %}
            {{ form_start(trashLocationForm, {"action": path("ez_hybrid_platform_ui_location_trash_location", {'contentId': content.id, 'locationId': locationId})}) }}
                {% set sendToTrashDialogId = 'confirm-send-to-trash' %}

                {% if childCount == 0 %}
                    {% set sendToTrashDialogMsg = 'action.sentToTrash.message.nochildren'|trans()|desc('Are you sure you want to send this content item to trash?') %}
                {% else %}
                    {% set sendToTrashDialogMsg = 'action.sentToTrash.message.children'|trans({'%number of sub-item%': childCount})|desc('Are you sure you want to send this content item and %number of sub-item% sub-item(s) to trash?') %}
                {% endif %}

                {{
                    include('@EzSystemsHybridPlatformUi/components/confirm_delete_dialog.html.twig', {
                        'dialogId': sendToTrashDialogId,
                        'message': sendToTrashDialogMsg,
                        'confirmButton': trashLocationForm.trash,
                    })
                }}

                <button type="button" value="#{{ sendToTrashDialogId }}" class="ez-button ez-button-action ez-js-open-modal"
                    {% if trashLocationForm.trash.vars.disabled %}disabled{% endif %}>
                    {{ 'actionbar.trash'|trans|desc('Send to Trash')}}
                </button>
            {{ form_end(trashLocationForm) }}
        {% endblock %}
    </ez-toolbar>
    {% endblock %}
    </section>
</ez-content-view>
