{% trans_default_domain "locationview" %}

<table class="ez-table-data">
    <thead>
        <tr>
            <th>{{ 'locationview.versions.version'|trans()|desc('Version') }}</th>
            <th>{{ 'locationview.versions.modified.language'|trans()|desc('Modified language') }}</th>
            <th>{{ 'locationview.versions.author'|trans()|desc('Author') }}</th>
            <th>{{ 'locationview.versions.created'|trans()|desc('Created') }}</th>
            <th>{{ 'locationview.versions.last.saved'|trans()|desc('Last saved') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for version in versions %}
        <tr>
            <td>
                {{ version.versionNo }}
            </td>
            <td>
                {{ version.contentInfo.mainLanguageCode }}
            </td>
            <td>
                {{ authors[version.id].contentInfo.name }}
            </td>
            <td>
                {{ version.creationDate|localizeddate('medium', 'short', app.request.locale) }}
            </td>
            <td>
                {{ version.modificationDate|localizeddate('medium', 'short', app.request.locale) }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
