{% trans_default_domain "locationview" %}

<table class="ez-table-data">
    <thead>
        <tr>
            {% if form is defined %}
                <th></th>
            {% endif %}
            <th>{{ 'locationview.versions.version'|trans()|desc('Version') }}</th>
            <th>{{ 'locationview.versions.modified.language'|trans()|desc('Modified language') }}</th>
            <th>{{ 'locationview.versions.contributor'|trans()|desc('Contributor') }}</th>
            <th>{{ 'locationview.versions.created'|trans()|desc('Created') }}</th>
            <th>{{ 'locationview.versions.last.saved'|trans()|desc('Last saved') }}</th>
            {% if isDraft is defined %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for version in versions %}
        <tr>
            {% if form is defined %}
                <td>{{ form_widget(form.versionIds[version.versionNo]) }}</td>
            {% endif %}
            <td>
                {{ version.versionNo }}
            </td>
            <td>
                {% for translation in version.translations %}
                    {{ translation.name }}<br>
                {% endfor %}
            </td>
            <td>
                {% if version.author is not empty %}
                    {{ ez_content_name(version.author) }}
                {% endif %}
            </td>
            <td>
                {{ version.creationDate|localizeddate('medium', 'short', app.request.locale) }}
            </td>
            <td>
                {{ version.modificationDate|localizeddate('medium', 'short', app.request.locale) }}
            </td>
            {% if isDraft is defined %}
                <td>
                    <a href="{{ path('ez_content_edit', {
                        'contentId': version.contentInfo.id,
                        'versionNo': version.versionNo,
                        'language': version.initialLanguageCode})
                    }}" class="ez-button">{{ 'locationview.versions.edit_button'|trans|desc('Edit') }}</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
