{% trans_default_domain "locationview" %}

{% if relationList %}
    <table class="ez-table-data">
        <thead>
            <tr>
                <th>{{ 'locationview.relations.name'|trans()|desc('Name') }}</th>
                <th>{{ 'locationview.relations.content.type'|trans()|desc('Content type') }}</th>
                <th>{{ 'locationview.relations.relation.type'|trans()|desc('Relation type') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for relation in relationList %}
            <tr>
                <td><a href="{{ path(relation.destinationLocation) }}">{{ relation.destinationContentInfo.name }}</a></td>
                <td>{{ relation.destinationContentTypeName }}</td>
                <td>
                    {{ ez_ui_relation_type(relation) }}
                    ({{ relation.fieldDefinitionName }})
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="ez-relations-box-list-no-content">
        {{ 'locationview.relations.no.related.content'|trans()|desc('This content has no related content.') }}
    </p>
{% endif %}
