{% extends "@EzSystemsHybridPlatformUi/layout.html.twig" %}

{% block app %}
<{{ tagName }}>

{% block navigationHub %}
    {{ navigationHub|raw }}
{% endblock %}

<div id="app-content">
    {% block toolbars %}
        {% for toolbar in toolbars %}
            {{ toolbar|raw }}
        {% endfor %}
    {% endblock %}

    <main>
        {% block mainContent %}
            {{ mainContent|raw }}
        {% endblock %}
    </main>
</div>
<aside id="ez-notification-bar"></aside>
</{{ tagName }}>
{% endblock %}
