<{{ tag }}{% for name, value in attributes %} {{ name }}="{{ value }}"{% endfor %}>
    <ul class="ez-zone-list">
        <li class="ez-logo">
            <a href="{{ path( 'ez_hybrid_platform_ui_dashboard' ) }}" class="ez-logo"><img src="{{ asset( 'bundles/ezsystemshybridplatformui/img/logo.svg' ) }}" alt="eZ Systems logo"></a>
        </li>
    {% for zone in zones %}
        <li{% if activeZone == zone.identifier %} class="{{ activeZoneClass }}"{% endif %} data-zone-identifier="{{ zone.identifier }}">
            <a href="#">{{ zone.name }}</a>
        </li>
    {% endfor %}
    </ul>
    <nav>
        <ul class="ez-navigation">
        {% for link in links %}
        <li data-zone="{{ link.zone }}" class="ez-zone-link {% if link.match(app.request) %} {{ matchedLinkClass }}{% endif %}">
            <a href="{{ link.url }}">{{ link.name }}</a>
        </li>
        {% endfor %}
        </ul>
    </nav>
</{{ tag }}>
